.custom-caption h5 {
  font-size: 2rem;
  color: yellow;
}
.custom-caption {
  background-color: rgba(
    0,
    0,
    255,
    0.3
  ); /* Blue background with slight opacity */
  backdrop-filter: blur(10px); /* Blurs the background behind the text */
  padding: 10px;
  border-radius: 8px;
}

.custom-caption p {
  font-size: 1.2rem;
  color: lightgray;
}
.custom-carousel {
  width: 100%; /* Adjust the width (e.g., 75% of the parent container) */
  max-width: 1080px; /* Optional: Set a maximum width */
  height: auto; /* Set the desired height */
  margin: auto; /* Center the carousel horizontally */
  padding: 2rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Change the background color of the icons */
  border-radius: 50%; /* Optional: Makes the background circular */
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(
    1
  ); /* Optional: Inverts the color of the SVG icons to make them white */
}
